django==4.2.8
gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.0.1
django-admin-gradient
djangorestframework
drf-yasg
python-decouple
pytest==7.4.3
pytest-django==4.7.0
pytest-json-report==1.5.0
redis==5.0.1
django-redis==5.4.0
psycopg2-binary==2.9.9
celery==5.3.4
django-extensions==3.2.3
